/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #000;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   LISE POIRIER - REBECCA MACCIO - RONALD MARCEL - LATIFA BOUMIZY
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/* SEPARATOR DIV */

.line-separator {
    display: block;
    width: 50%;
    height: 1px;
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line-separator2 {
    display: block;
    width: 50%;
    height: 1px;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator-present {
    height: 1px;
    background-color: #333;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 18px;
}


/* First Wrap Background */

.first-wrap {
    height: 100%;
    width: 100%;
    background: url("../img/MG_2088.png");
    background-size: cover;
    background-position: bottom;
}

.first-div {
    position: relative;
    height: 100vh;
    background-color: transparent;
}

.first-inner-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.first-inner-div h1 {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Audiowide', cursive;
    color: white;
    font-size: 15px;
}

.first-inner-div h1:hover {
    background-color: white;
    color: #000 !important;
    font-family: 'Audiowide', cursive;
}


/* Second Wrap Background */

.second-wrap {
    height: 100%;
    width: 100vw;
    background: #ffffff url("../img/test-chat.jpg") no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.section-present {
    margin-top: 100px;
    margin-bottom: 100px;
}

.block {
    background-color: whitesmoke;
    color: #000;
}

.block:hover {
    background-color: #000;
    color: white;
}

.block h2 {
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 30px;
    text-transform: uppercase;
}

.block h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 0px;
}

.block p {
    text-align: justify;
    margin-bottom: 30px;
}

.participant {
    margin-bottom: 20px;
    background-color: #000;
    color: white;
    text-align: center;
    border: 1px solid whitesmoke;
}

.participant p {
    color: white;
    padding: 10px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    cursor: pointer;
}


/* Third Wrap Background */

.third-wrap {
    background: #ffffff url("../img/header.png") no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #000;
    width: 100%;
}

.third-wrap h2 {
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Audiowide', cursive;
}

.fourth-div {
    display: table;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 30px;
}

.six-wrap {
    display: table;
    height: 70vh;
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
}

.six-wrap h2 {
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Audiowide', cursive;
}

.eight-div {
    display: table;
    height: 70vh;
    background: #ffffff url("../img/clavier.jpg") no-repeat fixed;
    background-color: transparent!;
    background-size: cover;
    background-position: 50% 50%;
}

.adptmap {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 75%;
    filter: saturate(0);
    opacity: 0.9;
    margin-bottom: 100px;
}


/*formulaire de contact*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,900);
*:focus {
    outline: 0;
}


/* Below is the design for the contact form */

#contact-wrap {
    font-family: 'Lato', calibri, arial;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    color: #fff;
    overflow: auto;
    float: left;
    margin: 0 auto;
}

#contact-area {
    margin-left: 3px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

#contact-area input,
#contact-area textarea {
    padding: 5px;
    width: 100%;
    font-family: 'Lato', calibri, arial;
    color: whitesmoke;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;
    margin-bottom: 15px;
}

#contact-area textarea {
    height: 150px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;
}

#contact-area textarea:focus,
#contact-area input:focus {
    background-color: whitesmoke;
    color: #000;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;
}

#contact-area input.submit-button {
    font-family: 'Lato', calibri, arial;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100px;
    float: left;
    background-color: transparent;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    float: right;
    font-weight: bold;
}

#contact-area input.submit-button:hover {
    color: #000;
    background-color: whitesmoke;
}

::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 600;
}

::-moz-placeholder {
    /* Firefox 18- */
    font-size: 15px;
    font-weight: 600;
}

::placeholder {
    /* Firefox 19+ */
    font-size: 15px;
    font-weight: 600;
}

:-ms-input-placeholder {
    font-size: 15px;
    font-weight: 600;
}

select {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: #8E8E8F;
    ;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;
    margin-bottom: 15px;
}

option {
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
}


/* pour enlever le trait sous te texte en hover*/

a:hover {
    text-decoration: none;
}


/*gestion des logos partenaires

.partenaire {
    height: 50px;
    background-color: white !important;
}

.partenaires {
    background-color: white !important;
}

.invisible {
    visibility: hidden;
}*/

footer {
    height: 75px;
    width: 100%;
    background-color: #000;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-transform: uppercase;
}

footer p {
    margin-bottom: 0px;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: none;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^=""]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ##################################################################### */


/* ############################   TABLETS   ############################ */


/* ##################################################################### */


/* Small devices (tablets, 768px and up) */

@media (max-width: 1050px) {
    [class*="col-"] {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .separator-present {
        display: none;
    }
    
    .section-present {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .block h2 {
        margin-top: 0px;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
    }
    
    .section-present p {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 0px;
    }
    
    .section-present h3 {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        margin-bottom: 5px;
    }
    
    .block {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 40px;
    }
    
    .participant {
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .participant p {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .fourth-div {
        width: 100%;
    }
    
    .six-wrap {
        width: 100%;
    }
    
    .eight-div {
        width: 100%;
    }
    
     .adptmap {
        display: block;
        margin: 0 auto;
        width: 85%;
        margin-top: 30px;
         height: 300px;
         padding-bottom: 50px;
    }
    
    iframe {
        border: 0px !important;
    }
    
    footer {
        margin-top: 0px;
    }
    
    footer p {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }
}